**/venv/
**pycache**
**/chroma_db/
**.pkl
**.db
**.bin
**/faiss_stuff/
host-share
**/logs/
**logs.txt
**/pgdata/
**/pg_data/
**/qdrant_data/
**/LightRAG_hybrid_rag/
**/rag_storage/
**lightrag.log
**/dickens/
**/inputs/
**check_ssh_setup.sh 