faiss-cpu
fastapi==0.115.12
fastmcp==2.2.6
Flask==3.1.0
hf_xet
httpx==0.28.1
matplotlib==3.10.1
nest_asyncio
numpy==2.2.5
ollama==0.4.8
psycopg2-binary==2.9.10
pydantic==2.11.4
PyQt5==5.15.11
qdrant-client
Requests==2.32.3
sentence_transformers==4.1.0
uvicorn==0.34.2
